<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon" 
      type="image/png" 
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="https://fonts.google.com/css?family=Roboto" rel="stylesheet" type="text/css"/>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <div>
        <h3>1. Post URL</h3>
      </div>
      <section>
        <form target="_blank" action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.example.com/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
        <h3>2. Example Output:</h3>
        <p>{"original_url":"https://github.com/","short_url":5}</p>
        <h3>3. Example Usage:</h3>
        <p><a href="https://cutturl.herokuapp.com/api/shorturl/5" target="_blank">
          <b>https://cutturl.herokuapp.com/api/shorturl/5</b>
        </a> ---> will redirect to: https://github.com/</p>

      </section>
    </main>
    <footer>
      <p><i>By <a href="https://josemsanchez.github.io/">Jose Sanchez</a></i></p>
    </footer>
  </body>
</html>
